<form action="/random/results">
<label for="users_min_number">Minimum</label> 
  <input 
  id="users_min_number"
  type= "text"
  name= "users_min_number">
 </div>

<div>
<form action="/random/results">
<label for ="users_max_number">Maximum</label> 
  <input 
  id = "users_max_number"
  type= "text"
  name= "users_max_number">
</div>
<div>
  <button>Pick random number</button>
</div>
</form>
