<div>
<form ACTION="/random/results">
<label>Minimum</label> 
  <input type= "text"name= "users_min_number">
 </div>

<label>Maximum</label> 
<form ACTION="/random/results">
  <input type= "text"name= "users_max_number">
<div>
  <button>Pick random number</button>
</div>
</form>
