

<form action="/square/results" method="get">
 <label>Enter a number</label>
 <div>
  <label for="users_number">
  </div>
  <div>
  <input  
    id="users_number"  
    name="users_number"  
    type="text"  
  >
  </div>
  <button>Calculate square</button>
</form>
